  .box1 {
    display: flex;
    background-color: transparent;
    background-image: url("depto_lujo.jpg");
    background-size: cover;
    color: whitesmoke;
  }

  .box4{
    display: flex;
    background-color: transparent;
    background-image: url("depto_interior.jpg");
    color: whitesmoke;
    background-size: cover;

  }

 .box2 {
    display: flex;
    color: black;
    background-color:transparent;
  } 

  .candado{
    width: 100px;
    height: 100px;
  }

  .dinero{
    width: 100px;
    height: 100px;
  }

  .reloj{
    width: 100px;
    height: 100px;
  }

  .sub1{
    align-content: center;
  }

  .sub2 {
    align-content: center;
  }

  .lujo{
    width: 100px;
    height: 100px;
  }

  .terminado{
    width: 100px;
    height: 100px;
  }

  .alberca{
    width: 100px;
    height: 100px;
  }

  .boton1{
    align-content: center;
    background-color: orangered;
    color: white;
    float: none;
  }

  .boton2 {
    align-content: center;
    background-color: orangered;
    color: white;
  }

  .boton3 {
    align-content: center;
    background-color: orangered;
    color: white;
    
  }

  .todas{
    position: absolute;
    left: 90%;
    color: white;
    background-color: greenyellow;
  }

  .contacto{
    background-color: orange;
    color: white;
  }